<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://thechaosvanguard.co.uk/lol-rules/" target="_blank">
				{game-name} Specific Community Rules
			</a>
		</li>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=14" target="_blank">
				{game-name} TED forum
			</a>
		</li>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=36595" target="_blank">
				{game-name} Introduction Guidelines
			</a>
		</li>
	</ul>
</div>

<div class="margin-bottom-25">
	<strong>{game-name}</strong>
	<ol>
		<li>
			Make sure to determine what server they play on.
			Write the name of the server at the end of their TED's title (either EUW, EUNE or NA)
		</li>
		<li>
			Tell the trialist to follow the summoner's code, this means not flaming or AFKing.
		</li>
		<li>
			Also tell them to follow the League of Legends terms of use, this means not boosting, account sharing or hacking.
		</li>
		<li>
			Tell them there are 2 main ways to find a game with CV members:
		</li>
		<li>
			The first is to join the 'Looking for Game' near the top of the LoL section on TeamSpeak
		</li>
		<li>
			The second is for them to join the chat room in the LoL Client itself (pictured instructions + chatroom name in 
            <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=2020" target="_blank">this thread</a>).
            If they don't know how to join explain to them using the second list.
		</li>
		<li>
			Finally ask them to click the cog in the corner of the chat room and tick 'autojoin on startup.'
		</li>
		<li>
			Should put their forum name as their TS name.
		</li>
		<li>
			Link them to the inhouse schedule:
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=5120" target="_blank">EUW</a>
			/
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=36588" target="_blank">NA</a> 
			/ 
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=24791" target="_blank">EUNE</a>
		</li>
		<li>
			Tell them about any events that will take place
		</li>
	</ol>
</div>

<div>
	<strong>
        How to Join our In-Game Chat Room (pictured instructions in 
        <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=2020" target="_blank">this thread</a>)
    </strong>
	<ol>
		<li>
			Tell them to click on the Button in the Bottom Right between 'Friends List' and 'View Notifications'
		</li>
		<li>
			Tell them to click the folder button near the bottom of the new section on the screen
		</li>
		<li>
			Tell them to type in 
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=2020" target="_blank">
				the chat room name for their server
			</a>
			and hit Enter
		</li>
		<li>
			Finally tell them to click the cog in the corner of the chat and tick 'autojoin on startup.'
		</li>
	</ol>
</div>