<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=21" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			Do the standard conversation and explain our community rules and how being a trialist works, TEDs, voting etc.
		</li>
		<li>
			Stress the fact that they need to be on teamspeak and tell them to be active on the forums.
		</li>
		<li>
			We accept all servers(EU/NA/AUS)
		</li>
		<li>
			Bring them down to one of the smite rooms on teamspeak(the fullest) and present them to the members/trialists,
			welcoming them to the community.
		</li>
        <li>
            Make sure you poke another smite staff member with the in-game name of the applicant, 
            so they can add the applicant to the clan on Smite (In the event no staff member is around please reply to 
            <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=7272" target="_blank">this thread</a>
            with the applicants name)
        </li>
		<li>
			Make sure you remind them that if they're already in a clan ingame they'll have to leave it to join ours.
		</li>
		<li>
			Be very sociable make sure to ask alot of questions,
			A true judge of character is measured in how they tell a story and how much patience they have.
		</li>
        <li>
            Mention 
            <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=4145" target="_blank">our coaches</a> 
            and that they will help out with anything Smite related! :)
        </li>
		<li>
			Tell them that we have a daily inhouse schedule and refer them to the announcement tab on TS
            so that they're aware of up to date information in the smite section.
		</li>
	</ol>
</div>