<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=11" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			Standard conversation around Trial period, appropriate behaviour (in game, forums, teamspeak), advise to be active on forums.
		</li>
		<li>
			Invite to 
            <a href="http://steamcommunity.com/groups/ChaosVanguard" target="_blank">CV Steam group</a>
            It's open, no need for an actual invite, they can just join
		</li>
		<li>
			Finding a game. Point them to the "Looking for game" channel as best way to find games,
			and encourage them to ask people in the "Social room" and "Chill room" if they might be interested in a game.
		</li>
		<li>
			Common query from trialists relates to teams. Advise that we currently have teams which are recruiting players,
			and that we have a policy to support the formation of new teams too. Details for teams can be found
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=90" target="_blank">here</a>.
		</li>
		<li>
			Tell them about our servers, mention 1v1, retake and FFA deathmatch
			(<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=27725" target="_blank">link</a>)
		</li>
		<li>
			Tell them about the Inhouse Schedule that is implemented now that we have the Servers. It can be found 
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=19372" target="_blank">here</a>.
		</li>
		<li>
			Tell them that they can come to the Game Leader if they have any problems with a Recruiter+. They can find a Staff List 
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=16392" target="_blank">here</a>.
		</li>
	</ol>
</div>