<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=12" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			When approving or denying an application, please note that a steam name/ID/link must be given. (Besides general requirements like age, etc)
		</li>
		<li>
			Please mention that the trialist can join or create a team via the forums.
		</li>
		<li>
			Give them 
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=17242" target="_blank">the link</a> 
			to the playing schedules of the active members(DotA 2).
			Also inform them that it is not the full list and there are other active players.
			Others are just lazy to reply to the link.
		</li>
        <li>
            Give the ingame Dota channel name, "Chaos Vanguard". The option to join is located under users.
        </li>
	</ol>
</div>