<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=133" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			We have ingame chatrooms. Can be joined by typing /join [Chatroom name] while ingame
			(<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=27807" target="_blank">forum post</a> 
			with EU chat room name - 
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=32392" target="_blank">forum post</a> 
			with NA chat room name).
		</li>
		<li>
			To find games the trialist can join either the LFG room or a public group with less than 5 people and ask for a spot,
			the easiest way is usually to type in the ingame chatroom.
		</li>
		<li>
			They *MUST* put their battle tag as their TS name so that it's easier for us to process them after their trial periods are over.
		</li>
		<li>
			HotS EU and NA hosts daily inhouses as well as various events and tournaments.
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=16228" target="_blank">EU In-house schedule</a>, 
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=32331" target="_blank">NA In-house schedule</a>.
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=145" target="_blank">EU Events</a>,
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=144" target="_blank">NA Events</a>.
		</li>
        <li>
            Link them to the 
            <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=33573" target="_blank">looking for a duo queue partner thread</a>
        </li>
		<li>
			HotS NA is actively expanding their competitive teams roster. Please link them our 
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=131" target="_blank">teams section</a>.
		</li>
		<li>
			Put EU in people's TED threads if they're from EU so it's easier to tell them apart,
			and the same should be done with the NA players as well.
		</li>
	</ol>
</div>