<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=401" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			Invite to 
            <a href="http://steamcommunity.com/groups/ChaosVanguard" target="_blank">CV Steam group</a>. 
            It's open, no need for an actual invite, they can just join.
		</li>
        <li>
            Give the link to the 
            <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=36408" target="_blank">server information, settings and rules</a>.
        </li>
        <li>
            Inform that they can click the IP at toparkservers to join the server.
            <a href="http://toparkservers.com/server/62.210.102.47:17016" target="_blank">http://toparkservers.com/server/62.210.102.47:17016</a>
        </li>
        <li>
            Tell them if they have trouble joining the server to ask someone in an ARK channel
            if they can add them on Steam and then join through them.
        </li>
	</ol>
</div>