<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=352" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			Tell them to sign up on the
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=34706" target="_blank">IGN Thread</a>.
		</li>
		<li>
			Ask them to have a look at the 
			<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=30512" target="_blank">Key exchange program</a>
			Incase they need a key, or have keys left.
		</li>
		<li>
			We now have inhouses, and we would like it if people could join and tell their opinion about them. 
            <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=33229" target="_blank">Inhouses</a>
		</li>
	</ol>
</div>