<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=17" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			Go over community rules, such as activity on the forums, working with TED threads, and being active on teamspeak.
		</li>
        <li>
            Link them to 
            <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=35680" target="_blank">these rules</a> 
            once given perms.
        </li>
        <li>
            Mention that they are also allowed to play any other game they want in the community.
        </li>
        <li>
            If they ask for the base location tell them to contact one of the H1Z1 Staff
        </li>
	</ol>
</div>