Hello [B]{forum-name}[/B],<br /> 
<br /> 
Your application has been [COLOR="#00FF00"][B]accepted[/B][/COLOR]! Woo!<br />  
<br /> 
Hop on over to our teamspeak server (the url is [U]ts3.thechaosvanguard.co.uk[/U]) and then hop on down to the Warframe Waiting Room channel (image provided below). Our staff members will receive a notification once you've joined the Waiting Room, and the first one available will assist you in completing your application by doing an introductory talk.<br /> 
<br /> 
Welcome to The Chaos Vanguard! :cool:<br />  
<br /> 
[I]Example of where the Warframe Waiting Room channel is:[/I]<br />
[IMG]https://i.gyazo.com/74d13ce40d4d2919a6c28bee6c58cab3.png[/IMG]