<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=212" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			Go over the chaos involved in Warframe. Namely recommend that the trialist have a thick skin 
            and realize that we are here to have fun and the banter will be forcefully crass in the social rooms. 
            The squads are safe from the horseplay though.
		</li>
		<li>
			Go over community rules, such as activity on the forums, working with TED threads, and being active on teamspeak.
		</li>
		<li>
			Mention that they are also allowed to play any other game they want in the community.
		</li>
		<li>
			Inform the trialist that upon entering the Warframe Lobby channel they can ask for an invite
			to the 'We are Chaos Vanguard' clan if they do not have an active clan of their own.
		</li>
	</ol>
</div>