<div class="margin-bottom-25">
	<strong>Links</strong>
	<ul>
		<li>
			<a href="http://forums.thechaosvanguard.co.uk/forumdisplay.php?f=333" target="_blank">
				{game-name} TED forum
			</a>
		</li>
	</ul>
</div>

<div>
	<strong>{game-name}</strong>
	<ol>
		<li>
			Basic recruitment talk (Activity on TS and forums, nice behavior etc.)
		</li>
		<li>
			Go over community rules, such as activity on the forums, working with TED threads, and being active on teamspeak.
		</li>
		<li>
			Mention that they are also allowed to play any other game they want in the community.
		</li>
		<li>
			Get them to post their in-game name in the Clan Rosters as well
            (<a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=37374" target="_blank">Here</a> 
            for NA, 
            <a href="http://forums.thechaosvanguard.co.uk/showthread.php?t=37379" target="_blank">Here</a>
            for EU).
		</li>
		<li>
			Inform them that we play on 
            <strong class="text-danger">Iksanun in the Crimson Legion (Red) for NA</strong>, and
            <strong class="text-danger">Windrest in the Cerulean Order (Blue) for EU</strong>.
		</li>
		<li>
			<u>Let them know that being active on TS help solidify the BnS Clan as a family, which is one of our big goals.</u>
		</li>
		<li>
			Give them TS rights/Forum rights, and show them where our Section is on TS (as some recruits are new to TS)
		</li>
		<li>
			Wish them luck on their trial, and officially welcome them.
		</li>
	</ol>
</div>