Please leave feedback for {forum-name} ({ingame-name}).<br />
<br />
Vote either +1 or -1 and don't forget that you need to provide a reason for your vote.<br />
<br />
Please encourage other members to vote on TEDs. This ensures accurate results.<br />
This is not a thread for discussion of other's opinions.<br />
Do not share or discuss any information within this TED.<br />
Please remember that valid feedback does not include feedback based on the skill of the player.<br />
<br />
TeamSpeak ID: {ts-id}<br />
<br />
Link to application: {link-application}