Hello {forum-name}! I have [B][COLOR="#00FF00"]accepted[/COLOR][/B] your application.<br />
<br />
Feel free to join us on TeamSpeak at [U]ts3.thechaosvanguard.co.uk[/U] and hop down to the {game-name} Waiting Room in the Applicants area. It's located at the top just below the Main Lobby. Our staff members will receive a notification once you've joined the Waiting Room, and the first one available will assist you in completing your application by doing an introductory talk.<br />
<br />
Good luck, and welcome to The Chaos Vanguard!
